images
build
.vscode
1_depth.png
1.png
2_depth.png
2.png
script.sh
trajectory.txt
zcommands.txt
data
check.py
fast_depth.onnx
video.mp4
zcode_written
ztasks.txt
results.txt
vocab_larger.yml.gz
rgbd_dataset_freiburg1_rpy/depth
rgbd_dataset_freiburg1_rpy/accelerometer.txt
rgbd_dataset_freiburg1_rpy/rgb
rgbd_dataset_freiburg1_rpy/depth.txt
rgbd_dataset_freiburg1_rpy/groundtruth.txt
rgbd_dataset_freiburg1_rpy/rgb.txt
rgbd_dataset_freiburg1_rpy/venv


rgbd_dataset_freiburg1_rpy.tgz
rgbd_dataset_freiburg1_xyz.tgz
rgbd_dataset_freiburg1_xyz/depth
rgbd_dataset_freiburg1_xyz/accelerometer.txt
rgbd_dataset_freiburg1_xyz/rgb
rgbd_dataset_freiburg1_xyz/depth.txt
rgbd_dataset_freiburg1_xyz/groundtruth.txt
rgbd_dataset_freiburg1_xyz/rgb.txt
rgbd_dataset_freiburg1_xyz/venv

rgbd_dataset_freiburg1_floor.tgz
rgbd_dataset_freiburg1_floor/depth
rgbd_dataset_freiburg1_floor/rgb
rgbd_dataset_freiburg1_floor/accelerometer.txt
rgbd_dataset_freiburg1_floor/depth.txt
rgbd_dataset_freiburg1_floor/groundtruth.txt
rgbd_dataset_freiburg1_floor/rgb.txt
rgbd_dataset_freiburg1_floor/venv

3rdparty
ORBvoc.txt.tar.gz
DBow3
DBoW2


doc/1_abstract.tex
doc/4_solutie_propusa.tex
doc/detalii_implementare.tex
doc/idei.txt
doc/licenta.aux
doc/licenta.bbl
doc/licenta.blg
doc/licenta.log
doc/licenta.out
doc/TODO
doc/licenta.bcf
doc/licenta.run.xml
doc/licenta.toc
ORBvoc.txt

